body{
    background-color: rgb(189, 29, 85);
    font: normal 16pt arial;
}

header {
    text-align: center;
    color: aliceblue;
}

section {
    background-color: aliceblue;
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}

footer {
    color: aliceblue;
    text-align: center;
    font-style: italic;
}